.btn {
  border: none;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  font-size: var(--base-font-size);
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
}

.btn-edit {
  color: var(--grey-1);
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
}

.btn-bottom-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  bottom: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 2.5em;
}

.btn-save-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.btn-save {
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
