.card-wrapper {
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.card {
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  background-color: white;
}

.card-section {
  background-clip: padding-box;
  margin-left: auto;
  margin-right: auto;
  padding: var(--card-padding);
}

.card-bordered {
  padding: 18px;
  cursor: pointer;
  color: var(--grey-2);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.card-bordered:hover {
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
