.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-grey-1 {
  color: var(--grey-1);
}

.text-grey-2 {
  color: var(--grey-2);
}

.bg-white {
  background-color: white;
}

.text-white {
  color: white;
}
