:root {
  --base-font-name: 'CerebriSansPro';
  --base-font-size: 18px;
  --base-line-height: 25px;
  --primary-color: #484848;
  --secondary-color: #e65558;
  --accent-color: #054169;
  --placeholder-color: #48484880;
  --grey-2: #484848b3;
  --grey-1: #48484880;
  --card-padding: 40px 54px;
  --border-radius: 7px;
  --border-color: #e3e3e3;
  --box-shadow: 0px 10px 30px 5px rgba(5, 65, 105, 0.08);
  --cond-editing: none;
  --cond-not-editing: unset;
}

/* Additional sizes for extra large screens */
@media (max-width: 1200px) {
  :root {
    --card-padding: 40px 54px;
    --base-font-size: 18px;
    --base-line-height: 25px;
  }
}

/* Additional sizes for medium and large screens */
@media (max-width: 800px) {
  :root {
    --card-padding: 40px 54px;
    --base-font-size: 18px;
    --base-line-height: 22px;
  }
}

/* Additional sizes for small and medium screens */
@media (max-width: 400px) {
  :root {
    --card-padding: 20px 24px;
    --base-font-size: 16px;
    --base-line-height: 20px;
  }
}

[vif='editing'] {
  display: var(--cond-editing) !important;
}

[vif='not-editing'] {
  display: var(--cond-not-editing) !important;
}

[vcond] [von-hover] {
  display: none !important;
}

[vcond]:hover [von-hover] {
  display: block !important;
}

[vcond] [voff-hover] {
  display: block !important;
}

[vcond]:hover [voff-hover] {
  display: none !important;
}